{% extends "admin/import_export/change_list.html" %}
{% load i18n admin_urls jazzmin %}

{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block object-tools-items %}
  <div class="btn-group float-end">
    {% include "admin/import_export/change_list_import_item.html" %}
    {% include "admin/import_export/change_list_export_item.html" %}
    {% if perms.inspeccion.add_equipo %}
      <a href="{% url 'admin:inspeccion_equipo_plantilla' %}"
         class="btn {{ jazzmin_ui.button_classes.secondary }}"
         title="{% translate 'Plantilla .xlsx con listas desplegables desde la base de datos' %}">
        <i class="fas fa-download"></i> {% translate "Descargar plantilla" %}
      </a>
    {% endif %}
    {{ block.super }}
  </div>
{% endblock %}
